.header {
    max-width: 100%;
    background-image: url(../images/header/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.menu-icon-link {
    &__image-min{
        display: none;
    }
    @media screen and (max-width: 540px) {
        &__image{
            display: none;
        }
        
        &__image-min{
            display: inline-block;
        }
    }
}

.menu-header {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header {
    margin-top: 15vh;
    @media screen and (max-width: 1020px) {
        margin-top: calc(121 / 900 * 100vh);
        text-align: center;
        margin: 20vh auto;
    }
}

.menu-burger {
    width: 40px;
    height: 40px;
    cursor: pointer;

    z-index: 100;
}

.content__title {
    transition: all .8s ease .4s;
}
.content__description {
    transition: all .8s ease .7s;
}
.menu-drop {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 16.5vw;
    height: 100vh;
    background-color: $color-yellow;

    display: flex;
    align-items: center;
    justify-content: space-around;

    &-list {
        display: flex;
        flex-direction: column;
    }
    &-item {
        margin-top: 40px;
    }
    &-list__description {
        color: $color-white;
        font-size: 1.5em;
        font-weight: 500;
        text-transform: uppercase;
    }

    transform: translateX(100%);
    opacity: 0;
    transition: all .8s;

    @media screen and (max-width: 1200px) {
        width: 70vw;
    }

}

.menu-active {
    transform: translateX(0%);
    opacity: 1;
}

.menu-burger__exit {
    display: none;
}

.menu-burger__burger-off {
    display: none;
}

.menu-burger__exit-on {
    display: block;
}
.header-opacity {
    opacity: .5;
}