.object {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .object-card {
        background-image: url(../images/object-block/JPG/img-01.jpg);
        background-size: cover;
        background-position: center center;
        width: 735px;
        height: 500px;
    }
    .content-object {
        margin-right: 200px;
        .content__title {
            max-width: 325px;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
            color: #4D533C;
        }
        .content__description {
            max-width: 421px;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: rgba(33, 56, 66, 0.6);
        }
        .content__description::first-line {
            margin-bottom: 35px;
        }
    }
    .content__link {
    }
    .content__text-link {
    }
}