.container
    section.categories
        h4.categories-title Deation & Evaluation - Best Way to Kick off Your Product Idea
        .categories-list 
            ul.list
                li.list-item 
                    h3.list__title Product Design Sprint
                li.list-item
                    p.list__description A five-day workshop that will help you answer crucial business questions 
                li.list-item
                    a.list__link(href="#") Read More
            ul.list
                li.list-item 
                    h3.list__title Scoping Session
                li.list-item
                    p.list__description A workshop aimed at shaping your business idea, answering questions regarding project planning 
                li.list-item
                    a.list__link(href="#") Read More
            ul.list
                li.list-item 
                    h3.list__title UX#[br] Review
                li.list-item
                    p.list__description An evaluation which will help you radically improve your product.
                li.list-item
                    a.list__link(href="#") Read More
            ul.list
                li.list-item 
                    h3.list__title Code#[br] Review
                li.list-item
                    p.list__description Do you know what one of the key secrets of success is what makes people successful in business
                li.list-item
                    a.list__link(href="#") Read More
.categories-banner-wrap
    .categories-banner
        h2.categories-banner__title Let’s make something amazing together.
        a.categories-banner__link(href="#")
            span.categories-banner__inner Let's get started 
