footer.footer
    .container 
        .footer-content 
            ul.footer-list.footer-displey
                li.footer-item 
                    h4.footer-list__title Services
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description Strategy Design
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description Product Design
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description Content Strategy
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description Brand Strategy
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description Development

            ul.footer-list.footer-displey
                li.footer-item 
                    h4.footer-list__title Help And Advice
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description How it works
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description Contact Support
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description Privacy Policy
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description FAQ

            ul.footer-list.footer-displey
                li.footer-item 
                    h4.footer-list__title Company
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description About
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description Blog
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description Contact
                li.footer-item 
                    a.footer-list__link(href="#")
                        span.footer-list__description Jobs

            ul.footer-list
                li.footer-item
                    h4.footer-list__title Contacts
                li.footer-item 
                    span.footer-list__description Phone 
                    a.footer-list__link(href="tel:+3250312832") +32 50 31 28 32
                li.footer-item 
                    span.footer-list__description Address 
                    a.footer-list__link(href="#") 491 Merlin Crest Suite 963
                li.footer-item 
                    a.last-link(href="mailto:info.webovio@gmail.com") info.webovio@gmail.com
                li.footer-item 
                    ul.footer-list-icons
                        li.footer-list-icons-item
                            a.footer-list-icons__link(href="#")
                                img.footer-list-icons__image(src="./images/icon/SVG/f-01.svg" alt="facebook")
                        li.footer-list-icons-item
                            a.footer-list-icons__link(href="#")
                                img.footer-list-icons__image(src="./images/icon/SVG/t-01.svg" alt="twitter")
                        li.footer-list-icons-item
                            a.footer-list-icons__link(href="#")
                                img.footer-list-icons__image(src="./images/icon/SVG/g-01.svg" alt="google plus")
                        li.footer-list-icons-item
                            a.footer-list-icons__link(href="#")
                                img.footer-list-icons__image(src="./images/icon/SVG/in-01.svg" alt="linkedIn")
        .menu-header.footer-bottom#contact
            a.menu-header__link(href="#")
                .menu-icon-link 
                    img.menu-icon-link__image(src="./images/header/SVG/logo-02.svg", alt="logo")
                    img.menu-icon-link__image.menu-icon-link__image-min(src="./images/header/SVG/logo-01.svg", alt="logo")
            span.footer-bottom__span © 2020@webovio. All Rights Reserved. 