section.object 
    .object-card 
    .content.content-object
            h1.content__title The wall new Balenciaga.com
            p.content__description This article is floated online with an aim to help you find the best dvd printing solution.
            p.content__description Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
            a.content__link(href="#")
                span.content__text-link See Case Study