section.object 
    .object-card
        .object-card-min
            h3.card__description “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
            .badge.badge-object
                .badge-image
                    img.badge-image__img(src="./images/card/PNG/card-02.png" alt="icon")
                .badge-description 
                    h4.badge-description__title Angel Armstrong
                    p.badge-description__subtitle Founder & CEO, Google
    .content.content-object
            h2.content__title The wall new Balenciaga.com
            p.content__description.content__description-margin This article is floated online with an aim to help you find the best dvd printing solution.
            p.content__description Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
            a.content__link(href="#")
                span.content__text-link See Case Study
                
section.object.object-inverse
    .content.content-object
            h2.content__title Is this the future of 3D model?
            p.content__description.content__description-margin While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space.
            p.content__description It is those feelings that drive our love of astronomy and our desire to learn more and more about it.
            a.content__link(href="#")
                span.content__text-link See Case Study
    .object-card
        .object-card-min
            h3.card__description “I know they are going to be honest with me. I am not going to get a subpar product; I know it is going to be good. That is the number one advantage of working with Exhibit Systems.“
            .badge.badge-object
                .badge-image
                    img.badge-image__img(src="./images/card/PNG/card-03.png" alt="icon")
                .badge-description 
                    h4.badge-description__title Lina Hart
                    p.badge-description__subtitle Founder & CEO, Jico

section.object.object-margin-top
    .object-card
        .object-card-min
            h3.card__description “Exhibit Systems is not a provider. They are not a supplier. They are a partner with expertise in making trade shows effective.”
            .badge.badge-object
                .badge-image
                    img.badge-image__img(src="./images/card/PNG/card-04.png" alt="icon")
                .badge-description 
                    h4.badge-description__title Eunice Oliver
                    p.badge-description__subtitle Founder & CEO, Zeem
    .content.content-object
            h2.content__title  Is this the future of Online Booking
            p.content__description.content__description-margin You should be able to find several indispensable facts about motivation in the following paragraphs.
            p.content__description If there’s at least one fact you didn’t know before, imagine the difference it might make.
            a.content__link(href="#")
                span.content__text-link See Case Study
