.container
    section.sevices.num2#blog
        .content.content-services
            h4.content__header._anim-items What we do for you
            h2.content__title._anim-items Strategy. Design  Content. Technology Development 
            p.content__description._anim-items There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with a framework that fosters candid collaboration.
            a.content__link(href="#")
                span.content__text-link More know About us
        .card._anim-items
            h3.card__description With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them Succeed
            .badge
                .badge-image
                    img.badge-image__img(src="./images/card/PNG/card-01.png" alt="icon")
                .badge-description 
                    h4.badge-description__title Genevieve Rodriquez
                    p.badge-description__subtitle Founder & CEO, Webovio
    