*, 
*::before, 
*::after {
  font-family: $font-main;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

@mixin responsive-font($pc-size, $mob-size) {
  $add-size: $pc-size - $mob-size;
  $max-width: $max-width - 320;
  font-size: calc(#{$mob-size + px} + #{$add-size} * ((100vw - 320px) / #{$max-width}));
}

.page__body {
  max-width: #{$max-width + px};
  margin: 0 auto;
  overflow-x: hidden;
}
.container {
  max-width: 1110px;
  padding: 0 10px;
  margin: 0 155px;
}
@media screen and (max-width: 1020px) {
  .container {
    margin: 0 10px;
  }
}

.content {
  max-width: 560px;

  &__header {
    @include responsive-font(14, 16);
    line-height: 21px;
    color: $color-white;
  }

  &__title {
    margin-top: 22px;
    font-weight: bold;
    @include responsive-font(60, 30);
    line-height: 74px;
    color: $color-white;
    @media screen and (max-width: 720px) {
      line-height: 60px;
    }
  }

  &__description {
    margin-top: 10px;
    font-weight: normal;
    @include responsive-font(16, 14);
    line-height: 26px;
    color: $color-white;
    margin-bottom: 45px;
  }
  
  &__text-link {
    @include responsive-font(16, 14);
    line-height: 18px;
    text-decoration-line: underline;
    color: $color-yellow;
  }
}


/* animate */

._anim-items {
  transform: translate(-90%, 0px);
  opacity: 0;
  transition: all .8s;
}
._anim-items-inversion {
  transform: translate(90%, 0px);
}
.object-card-min {
  transition: all .8s ease .4s;
}

.card {
  transform: translate(0%, -50%);
  transition: all .9s ease .9s;
}

._active {
  opacity: 1;
  transform: translate(0%, 0px);
}

#button {   
  background-color: $color-yellow;   
  width: 50px;   
  height: 50px;   
  border-radius: 50%;   
  padding: 10px;   
  position: fixed;
  bottom: 30px;   
  right: 30px;   
  z-index: 100; 
  transform: rotateZ(90deg);

  justify-content: space-between;
  align-items: center;
  cursor: pointer;
} 

@media screen and (max-width: 1200px) {
  #button {
    display: none;
  }
}