$font-main: "Poppins";
$max-width: 1440;

$color-white: #FFFFFF;
$color-light: #D4D6D4;
$color-light-bg: #FAFAFA;
$color-light-grey: #D4D6D4;
$color-grey-light: #B6C197;
$color-yellow: #FFD723;
$color-olive: #4D533C;
$color-olive-bg: #50583B;
$color-olive-light: #5D6544;
$color-dark: rgba(33, 56, 66, 0.6);
$color-light-dark: rgba(196, 196, 196, 0.2);
$color-shadow: rgba(33, 56, 66, 0.0955529);